@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

body > * {
  margin: 0;
  padding: 0;
  font-family: poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

header {
  font-weight: bold;
  font-size: 18px;
  margin-left: -37vw;
  user-select: none;
}

h3 {
  margin: 0;
}

h4 {
  color: #676767;
}

input {
  padding: 0;
  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px white solid;
  color: white;
  text-align: right;
  max-width: 20rem;
}

input:focus {
  outline: none;
}

select {
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><polyline transform='scale(0.9) translate(4, 0)' stroke-linejoin='round' stroke-linecap='round' fill='none' stroke='white' stroke-width='2.3' points='6,12 12,18 18,12'/></svg>") no-repeat right;
  background-color: transparent;
  border: none;
  border-bottom: 2px white solid;
  color: white;
  text-align: left;
  max-width: 20rem;
  min-width: 5.6rem;
}

select > option {
  color: white;
  background-color: #2E0039;
  
}

select:focus {
  outline: none;
}

button {
  padding: 0;
  appearance: none;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

footer {
  background-color: #2E0039;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 40px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.header-container {
  display: flex;
  border-bottom: 1px solid;
  justify-content: center;
}

.box-container {
  display: flex;
  justify-content: center;
  margin-top: -5rem;
}

.box {
  background-color: #2E0039;
  margin: 1rem 0;
  padding: 1.5rem 4rem 1.5rem 2.3rem;
  color: white;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  align-self: center;
  max-width: 40vw;
}

.converter-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 1.4rem;
  gap: 80px;
}

.converter-left {
  display: flex;
  gap: 10px;
  flex-grow: 1;
}

.converter-left > select {
  flex-grow: 1;
}

.converter-output {
  display: flex;
  justify-content: space-between;
}

.converter-right {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.convert-from {
  text-align: right;
  font-size: 13px;
}

.result {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  justify-content: flex-end;
  min-width: 90px;
}

.result > input {
  flex-grow: 1;
  min-width: 60px;
}

.converted-num, .converted-to {
  font-weight: bold;
}

.converted-num {
  font-size: 24px;
}

.save-container {
  display: flex;
  justify-content: center;
  margin-top: -10rem;
}

.saves {
  flex-grow: 1;
  margin: 0 27vw;
}

.conversions {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.conversion {
  background-color: #E3E3E3;
  color: #777;
  font-size: 16px;
  border-radius: 10px;
  padding: .4rem .6rem .4rem 1.2rem;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  min-width: 12rem;
  flex: 1 1 20rem;
  max-width: 20.1rem;
}

.conversion > button {
  color: #676767;
}